@import "../styles/modules/all";


.pageMargins {
    margin: 0 auto;
    max-width: 800px;
    padding: 0 1.0875rem 1.45rem;
}

blockquote {
    font-size: 1em;
    font-style: italic;
    letter-spacing: -.36px;
    line-height: 44.4px;
    overflow-wrap: break-word;
    //color: rgba(0,0,0,.68);
    border-left: 3px solid $blue_2;
    padding-left: 20px;
    margin: 25px 0 33px -8px;
    padding-bottom: 2px;
    color: $blue_2;

    @include breakpoint($med) {
        font-size: 1.3em;
        margin: 55px 0 33px -23px;
    }

    p {
        margin: 0;
    }
}

main {
    margin-top: 40px;
}


.post_container {
    margin-top: 90px;
}

.one_blog_post {
    display: flex;
    justify-content: center;
    margin: 1.9em auto;
    //background: linear-gradient(268.99deg,transparent .04%,rgba(1, 13, 11, 0.1),transparent 99.9%);
    //padding: 30px 0;
}

.singlePost {
    display: block;
    max-width: 800px;
    width: 90vw;
    padding: 26px;
    border: 1px solid rgba(0,0,0,0.2);
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 4px;

    span {
        display: block;
        font-size: 0.7em;
        color: #888;
    }

    h3 {
        margin-top: 20px;
    }

    p {
        margin: 1em 1em 0;
    }

    &:hover {
        h3 {
            color: $blue_3;
        }
    }
}


.theAvatar {
    text-align: center;;
}