@import "../styles/modules/all";


.pageMargins {
    margin: 60px auto;
    max-width: 800px;
    padding: 0 1.0875rem 1.45rem;
}

blockquote {
    font-size: 1.3em;
    font-style: italic;
    letter-spacing: -.36px;
    line-height: 44.4px;
    overflow-wrap: break-word;
    color: rgba(0,0,0,.68);
    border-left: 3px solid rgba(0,0,0,.84);
    padding-left: 20px;
    margin: 55px 0 33px -23px;
    padding-bottom: 2px;

    p {
        margin: 0;
    }
}

main {
    margin-top: 40px;
}

.one_blog_post {
    display: flex;
    justify-content: center;
    margin: 1.5em auto;
    background: linear-gradient(268.99deg,transparent .04%,rgba(1, 13, 11, 0.1),transparent 99.9%);
    padding: 30px 0;
}

.singlePost {
    span {
        display: block;
        font-size: 0.7em;
        color: #888;
    }

    p {
        margin: 1em;
    }
    display: block;
    max-width: 800px;
    width: 90vw;

    &:hover {
        h3 {
            color: $blue_3;
        }
    }
}


.theAvatar {
    text-align: center;;
}